
/* Toast container */
.toast{
    position: fixed;
    top: 120px;
    right: 20px;
    z-index: 9999;

    background: #ffebe3;
    color: #b03a20;

    padding: 0.9rem 1.2rem;
    border-radius: 10px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

    font-size: 0.9rem;
    font-weight: 600;

    opacity: 0;
    transform: translateY(-20px);

    pointer-events: none;

    transition: all 0.5s ease;
}

/* show state */
.show {
    opacity: 1;
    transform: translateY(20px);
}

/* auto fade animation */
.fade_out {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.5s ease;
}